/* jQuery Countdown styles 2.0.0. */
#defaultCountdown { height: 45px; }

.countdown-wrapper{
  position: relative;
  z-index: 1;

  .icon{ font-size: 1.3em; }
  a{ font-size: 20px; }

  .icon + a{ margin-left: 10px; }
  * + ul, li +li{ margin-top: 13px; }

}
.countdown-content{
  position: relative;

  .media{ 
    display: inline-block;
    margin-left: 0px; 
  }

  .media-left{ 
    padding-right: 9px; 
    > * { font-size: 50px; } 
  }
}
.countdown{
  position: relative;
  margin-top: 18px;
  padding: 20px 0 20px 0; 


  &::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 17px;
    right: -100vw;
    left: -100vw;
    min-width: 100vw;
    max-width: none;
    background: url(../img/bg-pattern.jpg);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2); 
    z-index: -1;

    @media(min-width: 768px){
      bottom: 0;
      left: auto;
      right: 0;
    }
  } 
}

.is-countdown {
  height: 100%;
}
.countdown-rtl {
  direction: rtl;
}
.countdown-holding span {
  color: #888;
}
.countdown-row {
  clear: both;
  width: 100%;
  text-align: center;
}
.countdown-show1 .countdown-section {
  width: 98%;
}
.countdown-show2 .countdown-section {
  width: 48%;
}
.countdown-show3 .countdown-section {
  width: 32.5%;
}
.countdown-show4 .countdown-section {
}
.countdown-show5 .countdown-section {
  width: 19.5%;
}
.countdown-show6 .countdown-section {
  width: 16.25%;
}
.countdown-show7 .countdown-section {
  width: 14%;
}
.countdown-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: left;
  text-align: center;
  width: 25%;

  @media(min-width: 992px){
    width: auto;
  }
  & + .countdown-section{ 
    @media(min-width: 992px){
      margin-left: 60px;
    }

    @media(min-width: 1200px){
      margin-left: 70px;
    }
  }
}
.countdown-amount {
  color: #25262A;
  font-family: $default-font-family;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;

  @media(min-width: 768px){
    font-size: 75px;
  }

  @media(min-width: 992px){
    font-size: 50px;
  }

  @media(min-width: 1200px){
    font-size: 75px;
  }
}

.countdown-period {
    display: block;
    color: #25262A;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-top: 6px;

    @media(min-width: 480px){
      font-size: 18px;
    }

}

.countdown-descr {
    display: block;
    width: 100%;
}
