/*
* Navigation
* ====================
*/
.nav{
  display: none;

  &-outside{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  &-mobile{
    position: fixed;
    z-index: 100;

    .nav-inside{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      display: flex;
      justify-content: center;
      -ms-flex-pack: center;
      align-items: center;

      transition: .5s cubic-bezier(0.47, 0, 0.75, 0.72);
      visibility: hidden;

    }

    &.active{
      .nav-inside {
        visibility: visible;
        background-color: rgba(0,0,0, .9);
      }

      .nav-links,
      .nav-logotype {
        visibility: visible;
        opacity: 1;
      }

      .nav-links {
        > li {
          opacity: 1;
          transform: translateY(0);

          &:nth-child(1){ transition-delay: 0.1s }
          &:nth-child(2){ transition-delay: 0.2s }
          &:nth-child(3){ transition-delay: 0.3s }
          &:nth-child(4){ transition-delay: 0.4s }
          &:nth-child(5){ transition-delay: 0.5s }
          &:nth-child(6){ transition-delay: 0.6s }
          &:nth-child(7){ transition-delay: 0.7s }
        }
      }
      .nav-toggle{ background: transparent; }

    }

    .nav-logotype{
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);

      visibility: hidden;
      opacity: 0;
      max-width: 160px;
    }

    .nav-links{
      text-align: center;
      visibility: hidden;
      opacity: 0;

      > li{
        opacity: 0;
        will-change: transform;
        transform: translateY(-100%);
        transition: .3s;

        & + li{
          margin-top: 8px;
        }

        &.active{
          > a{
            background-color: rgba(255,255,255,.2);
          }
        }

        > a{
          padding: 4px 20px;
          color: #fff;
          display: inline-block;

          &:hover{
            background-color: rgba(255,255,255,.2);
          }
        }
      }
    }

    .nav-button{
      display: block;
      position: absolute;
      left: 8px;
      top: 5px;
      width: 30px;
      height: 40px;

      span{
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $brand-primary;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

      span:nth-child(1) {
        top: 7px;
      }

      span:nth-child(2),
      span:nth-child(3) {
        top: 17px;
      }

      span:nth-child(4) {
        top: 27px;
      }


      &.active span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      &.active span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &.active span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }

    .nav-toggle{
      position: relative;
      transform: rotate(0deg);
      margin: 2px 9px;
      transition: .5s ease-in-out;
      cursor: pointer;
      left: 15px;
      top: 15px;
      width: 48px;
      height: 48px;
      text-align: center;
      background: #eee;
      z-index: 3000;
      border: 1px solid #1daa62;
      border-radius: 10px;
    }
  }

  &-desktop{
    padding: 0px 3%;
    z-index: 100;
    position: relative;
    transition: .4s ease-in-out;

    .nav-inside{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.nav-fixed{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #333;
      padding-top: 0px;
      padding-bottom: 0px;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);

      .nav-logotype{
        max-width: 186px;
        top: -3px;
      }
      .nav-links{
        transition: .4s all ease;
        padding-top: 0px;

        li:last-child a { 
          margin-right: -12px; 

          @media(min-width: 1800px){
            margin-right: -19px;
          }
        }

        li + li{ 
          margin-left: 0; 
          
          @media(min-width: $screen-xl-min){
            margin-left: 20px; 
          }
        }
        > li.active{
          > a{ background: $brand-primary; color: #fff; }
        }
        a{ 
          padding: 20px 12px; 
          &:hover{
            background: rgba(37,213,123,0.5);
          }

          @media(min-width: $screen-xl-min){
            padding: 20px 20px;
          }
        }
      }
    }

    &:before,
    &:after{
      content: none;
    }

    .nav-toggle{
      display: none;
    }

    .nav-logotype{
      display: inline-block;
      transition: .3s;
      max-width: 186px;
      position: relative;
      top: 10px;
    }

    .nav-links{
      transition: .4s all ease;
      text-align: right;

      @media(min-width: 1200px){
        padding-top: 0;
      }

      > li{
        display: inline-block;
        transition: .5s all ease;

        & + li{
          margin-left: 24px;
        }

        &:last-child{ margin-right: 6px; }

        @media(min-width: $screen-xl-min){
          & + li{ margin-left: 60px; }
        }

        &.active{
          > a{
            &:after{
              bottom: 0;
              background-color: $brand-primary;
            }
          }
        }

        > a{
          position: relative;
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          transition: .5s all ease;
          padding: 6px 6px;
          @media (min-width: $screen-md-min) {
            padding: 50px 0 5px;
          }

          &:after{
            content: '';
            position: absolute;
            bottom: -5px;
            height: 1px;
            left: 0;
            right: 0;
            transition: .15s ease-in-out;
          }

          &:hover{
            &:after{
              bottom: 0;
              background-color: $brand-primary;
            }
          }
        }
      }
    }
  }
}
