/*
* ToTop
* ====================
*/

.toTopButton {
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 50px;
  height: 50px;

  font-size: 26px;
  line-height: 46px;
  text-align: center;
  color: #FFF;
  background: $brand-primary;
  border-radius: 50%;

  overflow: hidden;
  text-decoration: none;
  visibility: hidden;
  z-index: 1200;
  transition: 0.4s all cubic-bezier(0.41, 0.22, 0.18, 1.71);
  transform: scale(0.5);
  opacity: 0;

  &:before{
    font-family: FontAwesome;
    content: '\f106';
  }


  &:hover, &:focus {
    color: #FFF;
    text-decoration: none;
    &:after{ opacity: 1; }
  }

  &--active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: $screen-sm-min){
  .toTopButton {
    right: 34px;
    bottom: 34px;
  }
}
