/*
* 11. Media
* ====================
*/

$media-gutter: 84px;

.media-right {
  padding-top: $media-gutter;
}
.media-left {
  padding-bottom: $media-gutter;
}

.media-ltr {
  direction: ltr;
}

.media-rtl {
  direction: rtl;

  > .media-left {
    padding-right: 0;
    padding-left: $media-gutter;
  }

  > .media-right {
    padding-right: $media-gutter;
    padding-left: 0;
  }
}


.media {
  position: relative;
  z-index: 1;

  > .media-left img, > .media-right img {
    max-width: none;
  }

  > .media-left,
  > .media-right,
  > .media-body {
    padding: 0;
    direction: ltr;
    display: block;
    vertical-align: top;
  }
  > .media-right { padding-top: 0; }
  > .media-left { padding-bottom: 0; }
  > .media-body { padding-top: 0px; }


}

  @include make-media("xxs", $media-gutter);

@media (min-width: $screen-xs-min) {
  @include make-media("xs", $media-gutter);
}

@media (min-width: $screen-sm-min) {
  @include make-media("sm", $media-gutter);
}

@media (min-width: $screen-md-min) {
  @include make-media("md", $media-gutter);
}

@media (min-width: $screen-lg-min) {
  @include make-media("lg", $media-gutter);
}

.media, .media-xs, .media-sm, .media-md, .media-lg {
  &{
    .media-middle { vertical-align: middle; }

    .media-bottom { vertical-align: bottom; }
  }
}
